<% content_for :title do %>
    Semesters
<% end %>

<div class="layout horizontal center-justified" style="margin-top:15px;">
    <% if @active_semester %>
        <h3 id="active-semester-header">Active Semester:</h3>
        
        <div>
            <%= form_for(@active_semester) do |f| %>
                <%= f.select(:active, options_for_select(@semesters, @active_semester.id)) %>
            <% end %>
        </div>
    <% else %>
        <h3>No Active Semester</h3>
    <% end %>
</div>

<paper-fab icon="add" title="Create New Semester" id="new_semester_material"></paper-fab>

<div id="semesters-notice">
  <% if notice %>
    <paper-toast id="semesters-notice-toast" text="<%= notice %>" style="z-index: 13;" class="fit-bottom layout horizontal center-center"></paper-toast>
  <% end %>
</div>
