.mdl-button.mdl-js-button.mdl-button--fab.fixed.new-fab.transcript-upload-fab
  %i.material-icons file_upload

%dialog.transcript-upload-dialog.mdl-dialog
  %h5.mdl-typography--headline.center-text{ style: "margin-top: 24px;" }
    To Upload an Updated Transcript

  %ol#upload-transcript-list
    %li Log in to VIP and go to DegreeWorks
    %li Click the "Class History" link
    %li
      Once the new window opens, press CTRL+A to select all the text

  = form_tag(import_transcripts_path) do
    .mdl-textfield.mdl-js-textfield
      = text_area_tag "Transcript", params[:text],
                      class: "mdl-textfield__input", placeholder: "Paste text here"
    .mdl-dialog__actions
      = submit_tag "Submit", class: "mdl-button"
      %button.mdl-button.close{ type: "button" } Cancel
