<% content_for :title do %>
    Classes You've Taken
<% end %>

<div style="width:100%;" layout horizontal end-justified>
    <paper-fab icon="cloud-upload" style="margin-top:-28px;margin-right:25px;" id="fab_new_schedule"></paper-fab>
</div>

<core-overlay backdrop transition="core-transition-top" id="new_schedule_modal" style="background:#f3f3f3;box-sizing: border-box;-moz-box-sizing: border-box;webkit-user-select: none;-moz-user-select: none;padding:20px 20px;outline: 1px solid rgba(0,0,0,0.2);box-shadow: 0 4px 16px rgba(0,0,0,0.2);">
    <p>To Upload an Updated Transcript:</p>
    <ul>
        <li>Log in to VIP and go DegreeWorks</li>
        <li>Click the "Class History" link</li>
        <li>In the the new window that just opened press "ctrl + p"</li>
        <li>Save this page as a PDF</li>
        <li>When uploading select this PDF</li>
    </ul>
    <div layout center-justified horizontal>
        <paper-button id="upload_transcript_button">Upload PDF</paper-button>
    </div>

    <%= form_tag import_user_transcripts_path, multipart: true do %>
        <%= file_field_tag :transcript_file, id: "upload_transcript_link", hidden: "" %>
        <%= submit_tag 'upload', id: "submit_upload_transcript_button", hidden: "" %>
    <% end %>
</core-overlay>

<%= render "index" %>

<script>
    $("#drawer_core_menu")[0].selected = 0;
</script>
