%dialog.mdl-dialog#upload-offerings-dialog
  %h5.mdl-typography--headline.center-text
    Import Offerings

  = form_tag import_offerings_path, multipart: true do
    %p.center-text
      Upload a .CSV formatted:
    .layout.vertical.start.instructions
      %p Column 2 - The course formatted: CSC 110 Name
      %p Column 3 - Course section
      %p Column 8 - Days being offered(MWF, TR, etc.)
      %p Column 9 - Start time formatted: 0330PM
      %p Column 10 - End time formatted: 0330PM
      %p Column 13 - Professor formmatted: "last, first"

    = file_field_tag :offering_file, accept: ".csv", class: "hidden"
    = submit_tag "Reset", class: "hidden"

    .mdl-dialog__actions
      %button.mdl-button.choose-file{ type: "button" } Choose File
      %button.mdl-button.close{ type: "button" } Cancel
