%aside.mdc-dialog#upload-offerings-dialog{ aria: { describedby: "upload-offerings-description",
  hidden: true, labelledby: "upload-offering-heading", role: :alertdialog } }
  = form_tag offerings_import_path, multipart: true, class: "mdc-dialog__surface" do
    %header.mdc-dialog__header
      %h2.mdc-dialog__header__title#upload-offering-heading
        Import Offerings
    %section.mdc-dialog__body#upload-offerings-description
      %h3.mdc-typography--subheading2.center-text.my-1
        Upload a .CSV formatted:
      .layout.vertical.start.instructions.m-0
        %p.m-0.mdc-typography--body1 Column 2 - The course formatted: CSC 110 Name
        %p.m-0.mdc-typography--body1 Column 3 - Course section
        %p.m-0.mdc-typography--body1 Column 8 - Days being offered(MWF, TR, etc.)
        %p.m-0.mdc-typography--body1 Column 9 - Start time formatted: 0330PM
        %p.m-0.mdc-typography--body1 Column 10 - End time formatted: 0330PM
        %p.m-0.mdc-typography--body1 Column 13 - Professor formmatted: "last, first"
        = file_field_tag :offering_file, accept: ".csv", class: "hidden"
    %footer.mdc-dialog__footer
      %button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--cancel
        Cancel
      %button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--accept.choose-file
        Choose File
  .mdc-dialog__backdrop
