- content_for :title do
  Editing Offering

.layout.vertical.center
  = render 'form'
  = link_to 'remove', @offering, method: :delete, data: { confirm: 'Are you sure you want to stop offering this course?' }, style: 'margin-top:35px;'
