You have approved <%= @user.email %>'s schedule. Their schedule is as follows:

<ul>
<% @schedules.each do |schedule| %>
        <li><%= schedule.offering.course.subject + schedule.offering.course.course.to_s + ": " + schedule.offering.course.title %></li>
<% end %>    
</ul>

You can save this email for your records.