<%= @user.first_name + " " + @user.last_name %> has submitted their schedule for your approval. Their courses are as follows:

<ul>
<% @schedules.each do |schedule| %>
        <li><%= schedule.offering.course.subject + schedule.offering.course.course.to_s + ": " + schedule.offering.course.title %></li>
<% end %>    
</ul>
To approve <%= @user.email%>'s schedule, click <%= link_to "here", user_schedules_path(@user) %>.