/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/courses.css.scss */
#remove_course_shadow_div {
  width: 475px;
  text-align: center;
  background: #fafafa;
  border-radius: 3px;
  cursor: default;
}

/* line 8, /home/ubuntu/workspace/app/assets/stylesheets/courses.css.scss */
#remove_course_div {
  margin: 15px;
}

/* line 11, /home/ubuntu/workspace/app/assets/stylesheets/courses.css.scss */
#new_course_shadow_div {
  margin: 15px;
  background: #fafafa;
  padding: 20px 20px;
  border-radius: 3px;
}

/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/courses.css.scss */
.actual_select_courses {
  font-family: 'RobotoDraft', sans-serif;
  width: 100%;
  display: block;
  border: none;
  border-radius: 0 !important;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #757575;
  margin-top: 10px;
}

/* line 31, /home/ubuntu/workspace/app/assets/stylesheets/courses.css.scss */
.actual_select_courses:focus {
  border-color: #757575;
  outline: none;
  box-shadow: none;
}

/* line 37, /home/ubuntu/workspace/app/assets/stylesheets/courses.css.scss */
#course_minimum_class_standing, #course_minimum_sat_score, #minimum_grades {
  font-family: 'RobotoDraft', sans-serif;
  width: 100%;
  display: block;
  border: none;
  border-radius: 0 !important;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #757575;
  margin-top: 10px;
  cursor: pointer;
}

/* line 52, /home/ubuntu/workspace/app/assets/stylesheets/courses.css.scss */
#course_minimum_class_standing:focus, #course_minimum_sat_score:focus, #minimum_grades:focus {
  border-color: #757575;
  outline: none;
  box-shadow: none;
}

/* line 59, /home/ubuntu/workspace/app/assets/stylesheets/courses.css.scss */
.course_link {
  color: #333333;
  text-decoration: none;
}

/* line 64, /home/ubuntu/workspace/app/assets/stylesheets/courses.css.scss */
#new_course_material {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 25px;
  margin-bottom: 15px;
  color: #FFFFFF;
  background: #4CAF50;
}

/* line 74, /home/ubuntu/workspace/app/assets/stylesheets/courses.css.scss */
.subject_paginator {
  margin-top: 32px;
  text-decoration: none;
  color: #212121;
}
/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.cat_heading {
  color: #212121;
}

/* line 4, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
#new_category_material {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
  margin-right: 25px;
  color: #FFFFFF;
  background: #4CAF50;
}

/* line 13, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
#new_cc_overlay {
  width: 300px;
  margin: 15px;
  overflow-x: hidden;
  background: #f3f3f3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  webkit-user-select: none;
  -moz-user-select: none;
  padding: 20px 20px;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

/* line 26, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
#major_error_msg {
  color: #d34336;
  font-size: 0.75em;
  display: none;
}

/* line 31, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
#cc_major_error {
  width: 100%;
}

/* line 34, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
#cc_major_error_icon {
  height: 20px;
  width: 20px;
}

/* line 38, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
#major_dropdown_menu {
  margin-top: 0;
  padding-top: 0;
}

/* line 42, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
#major_dropdown {
  height: 100px;
}

/* line 45, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
#cur_cat_link {
  color: #4a89dc;
  text-decoration: none;
  transition: all .2s ease;
}

/* line 51, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
#cur_cat_link:hover {
  color: #727272;
  text-decoration: underline;
}

/* line 56, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
#cur_cat_delete_link {
  color: #4a89dc;
  text-decoration: none;
  transition: all .2s ease;
}

/* line 62, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
#cur_cat_delete_link:hover {
  color: #F44336;
  text-decoration: underline;
}

/* line 67, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
paper-radio-button::shadow #onRadio {
  background-color: #4CAF50;
}

/* line 70, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
paper-radio-button[checked]::shadow #offRadio {
  border-color: #4CAF50;
}

/* line 73, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
paper-radio-button::shadow #ink {
  color: #4CAF50;
}

/* line 77, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
#curriculum_category_category_decorator /deep/ .focused-underline {
  /* line color when the input is focused */
  background-color: #4CAF50;
}

/* line 82, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.shadow-z-1 {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  margin: 15px;
  border-radius: 3px;
}

/* -- Material Design Table style -------------- */
/* line 90, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.table {
  width: 100%;
  max-width: 100%;
  background-color: #fafafa;
  border-collapse: collapse;
  border-radius: 3px;
}

/* line 99, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 109, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  text-align: left;
  padding: 1.6rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 118, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.table > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/* line 129, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

/* line 132, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

/* line 135, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.table .table {
  background-color: #ffffff;
}

/* line 138, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.table .no-border {
  border: 0;
}

/* line 146, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 0.8rem;
}

/* line 149, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.table-bordered {
  border: 0;
}

/* line 157, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}

/* line 162, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

/* line 166, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5f5;
}

/* line 170, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
  /* line 174, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical > .table {
    margin-bottom: 0;
    background-color: transparent;
  }

  /* line 179, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical > .table > thead,
  .table-responsive-vertical > .table > tfoot {
    display: none;
  }

  /* line 182, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical > .table > tbody {
    display: block;
  }

  /* line 185, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical > .table > tbody > tr {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin-bottom: 1.6rem;
  }

  /* line 191, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical > .table > tbody > tr > td {
    background-color: #ffffff;
    display: block;
    vertical-align: middle;
    text-align: right;
  }

  /* line 197, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575;
  }

  /* line 204, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical.shadow-z-1 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* line 209, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
    border: none;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  }

  /* line 215, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical > .table-bordered {
    border: 0;
  }

  /* line 218, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical > .table-bordered > tbody > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }

  /* line 222, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
    border-bottom: 0;
  }

  /* line 226, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical > .table-striped > tbody > tr > td,
  .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
    background-color: #ffffff;
  }

  /* line 229, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
    background-color: #f5f5f5;
  }

  /* line 233, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical > .table-hover > tbody > tr:hover > td,
  .table-responsive-vertical > .table-hover > tbody > tr:hover {
    background-color: #ffffff;
  }

  /* line 236, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_categories.css.scss */
  .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_category_sets.css.scss */
.category_course_set_select {
  font-family: 'RobotoDraft', sans-serif;
  width: 100%;
  display: block;
  border: none;
  border-radius: 0 !important;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #757575;
  margin-top: 10px;
}

/* line 19, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_category_sets.css.scss */
.category_course_set_select:focus {
  border-color: #757575;
  outline: none;
  box-shadow: none;
}

/* line 25, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_category_sets.css.scss */
#cc_set_dropdown_error_msg {
  color: #d34336;
  font-size: 0.75em;
  display: none;
  margin-top: -13px;
}

/* line 31, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_category_sets.css.scss */
#cc_set_dropdown_course_error {
  width: 100%;
}

/* line 34, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_category_sets.css.scss */
#cc_set_dropdown_error_icon {
  height: 20px;
  width: 20px;
}

/* line 39, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_category_sets.css.scss */
.cat_set_edit {
  color: #4a89dc;
  text-decoration: none;
  transition: all .2s ease;
}

/* line 45, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_category_sets.css.scss */
.cat_set_edit:hover {
  color: #4CAF50;
}

/* line 49, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_category_sets.css.scss */
.cat_set_remove {
  color: #4a89dc;
  text-decoration: none;
  transition: all .2s ease;
}

/* line 55, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_category_sets.css.scss */
.cat_set_remove:hover {
  color: #F44336;
}

/* line 59, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_category_sets.css.scss */
#cat_set_flag_div {
  color: #212121;
}

/* line 62, /home/ubuntu/workspace/app/assets/stylesheets/curriculum_category_sets.css.scss */
#count_decorator /deep/ .focused-underline {
  /* line color when the input is focused */
  background-color: #4CAF50;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/majors.css.scss */
#new_major_form_shadow {
  width: 300px;
  margin: 15px;
  background: #fafafa;
  border-radius: 3px;
  padding: 20px 20px;
}

/* line 13, /home/ubuntu/workspace/app/assets/stylesheets/majors.css.scss */
#new_major_material {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 25px;
  margin-bottom: 15px;
  color: #FFF;
  background: #4CAF50;
}

/* line 23, /home/ubuntu/workspace/app/assets/stylesheets/majors.css.scss */
#major_decorator /deep/ .focused-underline {
  /* line color when the input is focused */
  background-color: #4CAF50;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/offerings.css.scss */
#new_offerings_material {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
  margin-right: 25px;
  color: #FFF;
  background: #4CAF50;
}

/* line 15, /home/ubuntu/workspace/app/assets/stylesheets/offerings.css.scss */
#new_offering_shadow {
  width: 375px;
  margin: 15px;
  background: #fafafa;
  padding: 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

/* line 24, /home/ubuntu/workspace/app/assets/stylesheets/offerings.css.scss */
#offering_overlay {
  margin: 15px;
  overflow-x: hidden;
  background: #f3f3f3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  webkit-user-select: none;
  -moz-user-select: none;
  padding: 20px 20px;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

/* line 38, /home/ubuntu/workspace/app/assets/stylesheets/offerings.css.scss */
#stop_offering_link {
  color: #4a89dc;
  text-decoration: none;
  transition: all .2s ease;
}

/* line 44, /home/ubuntu/workspace/app/assets/stylesheets/offerings.css.scss */
#stop_offering_link:hover {
  color: #F44336;
}

/* line 48, /home/ubuntu/workspace/app/assets/stylesheets/offerings.css.scss */
#edit_offering_link {
  color: #4a89dc;
  text-decoration: none;
  transition: all .2s ease;
}

/* line 54, /home/ubuntu/workspace/app/assets/stylesheets/offerings.css.scss */
#edit_offering_link:hover {
  color: #4CAF50;
}

/* line 58, /home/ubuntu/workspace/app/assets/stylesheets/offerings.css.scss */
#section_decorator /deep/ .focused-underline {
  /* line color when the input is focused */
  background-color: #4CAF50;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/password_resets.css.scss */
#reset_confirmation, #reset_password {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 10px;
  text-align: center;
}

/* line 18, /home/ubuntu/workspace/app/assets/stylesheets/password_resets.css.scss */
#submit_reset {
  display: inline-block;
  position: relative;
  border: 0;
  background: transparent;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

/* line 30, /home/ubuntu/workspace/app/assets/stylesheets/password_resets.css.scss */
#reset_container {
  padding-top: 10px;
  padding-bottom: 20px;
}

/* line 35, /home/ubuntu/workspace/app/assets/stylesheets/password_resets.css.scss */
#password_reset_overlay {
  overflow-x: hidden;
  width: 300px;
  background: #f5f5f5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  webkit-user-select: none;
  -moz-user-select: none;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
}
/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 8, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 13, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 23, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 30, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 40, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 46, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.css.scss */
hr {
  border: 0;
  height: 0;
  width: 300px;
  position: absolute;
  left: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #B6B6B6;
}

/* line 56, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.css.scss */
core-header-panel {
  background: white;
}

/* line 59, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.css.scss */
#mainheader {
  background-color: #2196F3;
  color: #FFFFFF;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/schedule_approvals.css.scss */
#advisor_approve_schedule_link {
  text-decoration: none;
  color: #4CAF50;
  font-weight: bold;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
#schedule_calendar {
  text-align: center;
}

/* line 8, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.day_time_slot {
  text-align: center;
  cursor: pointer;
  background-color: #efefef;
  height: 26px;
}

/* line 14, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.time_slot {
  text-align: center;
  cursor: pointer;
  height: 26px;
}

/* line 19, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.day {
  cursor: pointer;
}

/* line 22, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.selected_class {
  background-color: #4CAF50;
  color: #EAF6EB;
  font-weight: bold;
  cursor: text;
}

/* line 28, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.half_time_slot {
  background: linear-gradient(to bottom, #4caf50 0%, #4caf50 50%, #efefef 51%, #efefef 100%);
  cursor: text;
}

/* line 32, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
#main {
  background: #ececec;
}

/* line 36, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.remaining_credits_tr {
  text-align: center;
  padding-bottom: 15px;
}

/* line 40, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.new_schedule_tr {
  height: 48px;
}

/* line 43, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.new_schedule_check_td {
  padding-right: 15px;
}

/* line 46, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.new_schedule_course_td {
  padding-right: 10px;
  width: 150px;
}

/* line 50, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.new_schedule_days_td {
  text-align: center;
}

/* line 54, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
#classes_shadow_schedule {
  width: 558px;
}

@media screen and (max-width: 750px) {
  /* line 59, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  #classes_shadow_schedule {
    width: 367px;
  }

  /* line 62, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  .remaining_credits_tr {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  /* line 67, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  .new_schedule_tr {
    height: 30px;
  }

  /* line 70, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  .new_schedule_check_td {
    padding-right: 15px;
    padding-top: 18px;
  }

  /* line 74, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  .new_schedule_course_td {
    padding-top: 15px;
    font-weight: 300;
    font-size: 12px;
  }

  /* line 79, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  .new_schedule_days_td {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    padding-top: 15px;
  }

  /* line 85, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  .common_credit_td, .common_course_td, .common_grade_td, .no_courses_offered_msg {
    font-weight: 300;
    font-size: 12px;
  }

  /* line 89, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  .taken_courses_tr > td, .not_offered_courses > td {
    font-weight: 300;
    font-size: 12px;
  }

  /* line 93, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  .day_time_slot {
    width: 250px;
  }
}
/* line 98, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
paper-checkbox::shadow #checkbox.checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

/* line 102, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.next_day, .prev_day {
  background: #fafafa;
  text-align: center;
}

/* line 109, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}

/* line 113, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}

/* line 117, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ececec;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}

/* line 129, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.loader {
  font-size: 11px;
  text-indent: -99999em;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #FFF;
}

/* line 137, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ececec;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
  /* line 150, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 154, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load2 {
  /* line 160, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 164, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 170, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.ripple {
  overflow: hidden;
}

/* line 174, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  animation: ripple-animation 2s;
}

@keyframes ripple-animation {
  /* line 187, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  from {
    transform: scale(1);
    opacity: 0.4;
  }

  /* line 191, /home/ubuntu/workspace/app/assets/stylesheets/schedules.css.scss */
  to {
    transform: scale(100);
    opacity: 0;
  }
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/semesters.css.scss */
#new_semester_overlay {
  width: 300px;
  margin: 15px;
  overflow-x: hidden;
  background: #f3f3f3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  webkit-user-select: none;
  -moz-user-select: none;
  padding: 20px 20px;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

/* line 19, /home/ubuntu/workspace/app/assets/stylesheets/semesters.css.scss */
#new_semester_material {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
  margin-right: 25px;
  color: #FFF;
  background: #4CAF50;
}

/* line 29, /home/ubuntu/workspace/app/assets/stylesheets/semesters.css.scss */
#semester_decorator /deep/ .focused-underline {
  /* line color when the input is focused */
  background-color: #4CAF50;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/sessions.css.scss */
#contentsd {
  width: 275px;
  height: 450px;
}

/* line 9, /home/ubuntu/workspace/app/assets/stylesheets/sessions.css.scss */
#login_email, #login_password {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 10px;
  text-align: center;
}

/* line 21, /home/ubuntu/workspace/app/assets/stylesheets/sessions.css.scss */
#paperTabs paper-tab::shadow #ink {
  color: #00BCD4;
}

/* line 24, /home/ubuntu/workspace/app/assets/stylesheets/sessions.css.scss */
paper-tabs#paperTabs::shadow #selectionBar {
  background-color: #00BCD4;
}

/* line 27, /home/ubuntu/workspace/app/assets/stylesheets/sessions.css.scss */
#one, #two {
  font-family: 'RobotoDraft', sans-serif;
}

/* line 30, /home/ubuntu/workspace/app/assets/stylesheets/sessions.css.scss */
#submit_logon {
  display: inline-block;
  position: relative;
  border: 0;
  background: transparent;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'RobotoDraft', sans-serif;
  color: #4CAF50;
}

/* line 44, /home/ubuntu/workspace/app/assets/stylesheets/sessions.css.scss */
paper-toast {
  bottom: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
}

/* line 49, /home/ubuntu/workspace/app/assets/stylesheets/sessions.css.scss */
#forgot_password {
  text-decoration: none;
  color: #607D8B;
  font-family: 'RobotoDraft', sans-serif;
  font-size: 14px;
  cursor: pointer;
  margin-top: 80px;
  text-transform: capitalize;
}

/* line 59, /home/ubuntu/workspace/app/assets/stylesheets/sessions.css.scss */
#new_session_overlay {
  overflow-x: hidden;
  width: 300px;
  height: 500px;
  background: #f5f5f5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  webkit-user-select: none;
  -moz-user-select: none;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

/* line 71, /home/ubuntu/workspace/app/assets/stylesheets/sessions.css.scss */
.inner_section_session1 {
  padding: 20px 20px;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/transcripts.css.scss */
#transcript_remove_link {
  color: #4a89dc;
  text-decoration: none;
  transition: all .2s ease;
}

/* line 11, /home/ubuntu/workspace/app/assets/stylesheets/transcripts.css.scss */
#transcript_remove_link:hover {
  color: #F44336;
}

/* line 15, /home/ubuntu/workspace/app/assets/stylesheets/transcripts.css.scss */
#submit_taken_class_material {
  color: #2196F3;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#paper_advisor::shadow #ink[checked] {
  color: #4CAF50;
}

/* line 8, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#paper_advisor::shadow #checkbox.checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

/* line 13, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#new_user_form_shadow {
  margin: 15px;
  width: 260px;
  background: #fafafa;
  border-radius: 3px;
  padding: 20px 20px;
}

/* line 21, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#signup_email, #signup_password, #signup_confirmation {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 10px;
  text-align: center;
}

/* line 33, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#submit_signup {
  display: inline-block;
  position: relative;
  border: 0;
  background: transparent;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

/* line 45, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#signup_errors {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  font-weight: 300;
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  background: #e3e3e3;
  color: #e51c23;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  padding-right: 17px;
}

/* line 61, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#advisee_list {
  text-decoration: none;
  color: black;
}

/* line 65, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
.constrained-height {
  max-height: 135px;
}

/* line 68, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
paper-dropdown-menu, paper-dropdown {
  width: 260px;
}

/* line 72, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#pagination-item, #pagination2-item, #pagination3-item {
  font-weight: bold;
}

/* line 76, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#major_signup_dropdown_error_msg, #advisor_signup_dropdown_error_msg {
  color: #d34336;
  font-size: 0.75em;
  display: none;
}

/* line 81, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#major_dropdown {
  height: 135px;
}

/* line 84, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#signup_dropdown_major_error {
  width: 100%;
}

/* line 87, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#signup_dropdown_advisor_error {
  width: 100%;
}

/* line 90, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#signup_dropdown_error_icon {
  height: 20px;
  width: 20px;
}

/* line 94, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#major_dropdown_menu {
  margin-top: 0;
  padding-top: 0;
}

/*  Error Message fade in animation */
/* line 100, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

/* line 112, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
  /* line 120, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 123, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 130, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 135, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 142, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }

  /* line 147, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 154, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 159, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 165, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* line 174, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#user_minor {
  font-family: 'RobotoDraft', sans-serif;
  width: 100%;
  display: block;
  border: none;
  border-radius: 0 !important;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #757575;
  margin-top: 10px;
}

/* line 188, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#user_minor:focus {
  border-color: #757575;
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid #03A9F4;
}

/* line 195, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
.password_decorator /deep/ .focused-underline {
  /* line color when the input is focused */
  background-color: #4CAF50;
}

/* line 200, /home/ubuntu/workspace/app/assets/stylesheets/users.css.scss */
#advisee_signup_fab {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 25px;
  margin-bottom: 15px;
  color: #FFF;
  background: #4CAF50;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/work_schedules.css.scss */
.selected_work_day_time_slot {
  background-color: #F44336;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #F9F9F9;
  color: #333;
  font-family: 'RobotoDraft', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  margin: 0;
}

p, ol, ul, td {
  font-family: 'RobotoDraft', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#whole_screen_uploader {
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%;
    background: #ececec;
    display:none;
}

