<!--
 * This is a manifest file that'll be compiled into application.html, which will include all the files
 * listed below and their dependencies.
 *
 * Any html files within this directory, lib/assets/components, or vendor/assets/components
 * can be referenced here using a relative path.
 *
 *= require_tree .
 *= require polymer/polymer
 *= require paper-fab/paper-fab
 *= require core-toolbar/core-toolbar
 *= require core-collapse/core-collapse
 *= require core-menu-button/core-menu-button
 *= require core-icon-button/core-icon-button
 *= require core-item/core-item
 *= require core-header-panel/core-header-panel
 *= require core-menu/core-menu
 *= require core-icon/core-icon
 *= require core-collapse/core-collapse
 *= require paper-radio-button/paper-radio-button
 *= require paper-radio-group/paper-radio-group
 *= require core-drawer-panel/core-drawer-panel
 *= require core-tooltip/core-tooltip
 *= require font-roboto/roboto
 *= require paper-ripple/paper-ripple
 *= require core-media-query/core-media-query
 *= require paper-icon-button/paper-icon-button
 *= require paper-checkbox/paper-checkbox
 *= require paper-shadow/paper-shadow 
 *= require paper-tabs/paper-tabs
 *= require paper-button/paper-button 
 *= require paper-input/paper-input 
 *= require paper-item/paper-item 
 *= require paper-dropdown-menu/paper-dropdown-menu
 *= require core-animated-pages/core-animated-pages
 *= require core-animated-pages/transitions/slide-from-right
 *= require core-image/core-image
 *= require paper-ripple/paper-ripple
 *= require paper-toggle-button/paper-toggle-button
 *= require paper-menu-button/paper-menu-button
 *= require core-ajax/core-ajax
 
 *= require core-overlay/core-overlay
 *= require paper-dialog/paper-dialog
 *= require core-dropdown/core-dropdown
 *= require paper-dropdown/paper-dropdown
 *= require paper-toast/paper-toast

-->
