// This is a manifest file that'll be compiled into application.html, which will include all the files
// listed below.
//
// Any web component HTML file within this directory or vendor/assets/components, if any,
// can be referenced here using a relative path.
//
//= require polymer/polymer
//= require paper-fab/paper-fab
//= require paper-dialog/paper-dialog
//= require core-drawer-panel/core-drawer-panel
//= require paper-tabs/paper-tabs
//= require core-animated-pages/core-animated-pages
//= require core-animated-pages/transitions/slide-from-right
//= require core-overlay/core-overlay
//= require paper-button/paper-button
//= require paper-toast/paper-toast
//= require core-style/core-style
//= require paper-input/paper-input
//= require paper-item/paper-item
//= require core-menu/core-menu
//= require paper-dropdown-menu/paper-dropdown-menu
//= require paper-dropdown/paper-dropdown
//= require paper-shadow/paper-shadow
//= require paper-icon-button/paper-icon-button
//= require paper-checkbox/paper-checkbox
//= require font-roboto/roboto
//= require paper-ripple/paper-ripple
//= require core-collapse/core-collapse
//= require core-menu-button/core-menu-button
//= require core-icon-button/core-icon-button
//= require core-dropdown/core-dropdown
//= require core-item/core-item
//= require core-header-panel/core-header-panel
//= require core-toolbar/core-toolbar