<core-overlay id="change_password_overlay" backdrop transition="core-transition-top" id="new_schedule_modal" style="width:291px;background:#f3f3f3;box-sizing: border-box;-moz-box-sizing: border-box;webkit-user-select: none;-moz-user-select: none;padding:20px 20px;outline: 1px solid rgba(0,0,0,0.2);box-shadow: 0 4px 16px rgba(0,0,0,0.2);">
    <h2 layout horizontal center-justified>Change Password</h2>
    <%= form_for(@user, remote: true) do |f| %>
        <paper-input-decorator label="Enter New Password">
            <%= f.password_field :password, is: 'core-input', required: "" %>
        </paper-input-decorator>
        
        <paper-input-decorator label="Confirm Password">
            <%= f.password_field :password_confirmation, is: 'core-input', required: ""%>
        </paper-input-decorator>
        
        <div center-justified layout horizontal style="margin-top: 14px;">
            <paper-button>
              <input id="submit_signup" name="commit" type="submit" value="Change">
            </paper-button>
        </div>
        
    <% end %>
    
</core-overlay>