<paper-dialog id="change_password_overlay" id="new_schedule_modal" entry-animation="scale-up-animation" exit-animation="scale-down-animation">
    <h2 class="layout horizontal center-justified">Change Settings</h2>
      <%= form_for(@user, remote: true, html: {class: "student_settings_form"}) do |f| %>
        <%= f.collection_select(:minor, @minors, :id, :major, {}, { multiple: true, size: 3 } ) %>
  
        <br><br>
        <div class="end-justified layout horizontal" style="color:#2196F3;">
          <paper-button dialog-dismiss>Cancel</paper-button>
          <paper-button id="submit_student_settings">Update</paper-button>
        </div>
      <% end %>
</paper-dialog>
