<% content_for :title do %>
  Sign Up New User
<% end %>

<div class="layout horizontal center-center">
	<paper-material style="width:300px;background-color:#FBFBFB;margin-top:20px;padding-bottom:20px;" class="layout horizontal center-center">
	    <%= render 'form' %>
	</paper-material>
</div>