
<core-overlay id="overlay" autoCloseDisabled opened backdrop transition="core-transition-center" style="font-family: 'RobotoDraft', sans-serif;overflow-x: hidden;background:#f5f5f5;box-sizing: border-box;-moz-box-sizing: border-box;webkit-user-select: none;-moz-user-select: none;padding:20px 20px;outline: 1px solid rgba(0,0,0,0.2);box-shadow: 0 4px 16px rgba(0,0,0,0.2);">
    <h2 layout horizontal center-justified>Sign Up</h2>
    <%= render 'form' %>
</core-overlay>
