:ruby
  content_for :title, "Students"
  content_for :back_url, users_path
  content_for :active_tab, :students

.layout.vertical.center.mt-4
  .mdc-card.white.container
    %section.mdc-card__primary
      %h1.mdc-card__title.mdc-card__title--large= @user.name
      %h2.mdc-typography--title.mdc-card__subtitle
        = schedule_status_display(@user, @schedule_approval)
    %section.mdc-card__supporting-text
      %ul
        - @user.courses.each do |course|
          %li= course.pretty_course

    - if @schedule_approval && !@schedule_approval.approved
      %section.mdc-card__actions
        = link_to "Approve", user_schedule_approval_path(@user, @schedule_approval),
            method: :patch, data: { confirm: "Are you sure?" },
            class: "mdc-button mdc-button--compact mdc-card__action"
