<h5 class="mdl-typography--headline bold center-text">Forgot password?</h5>
<p class="center-text">We'll email you a reset link.</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.text_field :email, class: 'mdl-textfield__input' %>
    <%= f.label :email, class: 'mdl-textfield__label' %>
  </div>

  <div class="mdl-dialog__actions">
    <%= f.submit "Reset", class: "mdl-button" %>
    <button type="button" class="mdl-button close">Cancel</button>
  </div>
<% end %>
