- content_for :title, "Password Reset"

.devise-container.layout.vertical.center.my-4.mx-0
  = image_tag "callogo2.png"

  = form_for resource, as: resource_name, url: password_path(resource_name),
             html: { class: "layout vertical center" } do |f|

    = f.email_field :email, autofocus: true, required: true

    = f.submit "Reset Password"
