<% if not @session_user.advisor %>
    <%= render "users/student_settings" %>
<% end %>

<% if @user.pt_a == nil or @user.pt_b == nil or @user.pt_c == nil or @user.pt_d == nil %>
    <%= render "users/placement_test" %>
<% end %>

<neon-animated-pages id="baluga3" selected="1" class="flex" entry-animation="slide-from-right-animation" exit-animation="slide-left-animation">
     <neon-animatable id="schedules-animate">
        <%= render 'index' %>
     </neon-animatable>

     <neon-animatable id="new-schedule-animate">
      <%= render "new" %>
     </neon-animatable>
</neon-animated-pages>

<div id="transcript-notice">
    <paper-toast id="transcript-notice-toast" text="<%= notice %>" style="z-index: 13;" class="fit-bottom layout horizontal center-center"></paper-toast>
</div>

<div id="whole_screen_uploader">
  <iron-image style="width:85%; height:85%; background-color: #ececec;margin:auto;left:10%;"
  sizing="contain" preload fade src="<%= image_url('callogo.jpg') %>"></iron-image>
</div>
