<div class="layout horizontal center-justified">
    <paper-material id="new_major_form_shadow">
        <%= form_for(@major, remote: true) do |f| %>
                
            <paper-input-container id="new-major-major">
                <%= f.label :major  %>
                <%= f.text_field :major, is: "iron-input" %>
                <paper-input-error></paper-input-error>
            </paper-input-container>
        
            <br><br><br>
            <div class="layout horizontal end-justified" style="color:#2196F3;">
                <paper-button id="cancel_new_major">Cancel</paper-button>
                <paper-button id="create-major">Submit</paper-button>
            </div>           
        <% end %>
    </paper-material>
</div>