<% content_for :title do %>
  Majors
<% end %>

<div class="major-container">
  <div class="mdl-list mdl-shadow--4dp">
    <%= render @majors %>
  </div>
</div>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored new_major_fab">
  <i class="material-icons">add</i>
</button>

<dialog class="new_major_dialog mdl-dialog">
	<h5 class="mdl-typography--headline bold center-text">New Major</h5>

  <%= form_for Major.new do |f| %>
		<%= f.text_field :major %>

	  <div class="mdl-dialog__actions">
	    <%= f.submit "Submit" %>
	    <button type="button" class="mdl-button close">Cancel</button>
	  </div>
	<% end %>
</dialog>
