<% content_for :title do %>
    Majors
<% end %>

<div class="layout horizontal center-justified" id="remove_course_div">
    <paper-material id="remove_course_shadow_div">
        <div id="paginated_courses_div">
            <%= render @majors %>
        </div>
    </paper-material>
</div>
<br><br><br>


<div id="majors-notice">
  <% if notice %>
    <paper-toast id="majors-notice-toast" text="<%= notice %>" style="z-index: 13;" class="fit-bottom layout horizontal center-center"></paper-toast>
  <% end %>
</div>

<paper-fab icon="add" title="Create a Major" id="new_major_material"></paper-fab>