<% content_for :title do %>
    Add a New Major
<% end %>

<div layout horizontal center-justified>
    <paper-shadow id="new_major_form_shadow">
        <%= form_for(@major, remote: true) do |f| %>
                
            <paper-input-decorator label="Major">
                <%= f.text_field :major, is: 'core-input' %>
            </paper-input-decorator>
        
            <br>
            <div layout horizontal end-justified style="color:#03A9F4;">
                <paper-button id="material_create_major">create</paper-button>
            </div>
        
            <%= f.submit 'Create Major', hidden: "", id: 'actual_create_major' %>
            
        <% end %>
    </paper-shadow>
</div>

<div id="new_major_form_errors"></div>