%td{ class: "day_time_slot mdc-ripple-surface mdc-ripple-surface--accent mdc-theme--accent-bg",
     id: service.work_schedule.time_id }
  = link_to "", service.work_schedule,
      data: { method: :delete }, remote: true
