- if (overlapping_o = find_overlapping_offering(offerings, day, start_time))
  %td{ class: "day_time_slot mdc-ripple-surface mdc-ripple-surface--accent",
       id: work_schedule_id(day, start_time), data: { id: overlapping_o.course.condensed_course } }
    .schedule= overlapping_o.course.condensed_course
- elsif (overlapping_ws = find_overlapping_work_schedule(work_schedules, day, start_time))
  %td{ class: "day_time_slot mdc-ripple-surface mdc-ripple-surface--accent mdc-theme--accent-bg",
       id: work_schedule_id(day, start_time) }
    = link_to "", overlapping_ws, data: { method: :delete }, remote: true
- else
  %td{ class: "day_time_slot mdc-ripple-surface mdc-ripple-surface--accent",
       id: work_schedule_id(day, start_time) }
    = link_to "", work_schedules_path(day: day, start_time: start_time),
                  method: :post, remote: true
