%li.nested-fields.prerequisite_group
  .collapsible-header
    .layout.horizontal.start-justified
      .prerequisite_group_number
      .flex
      = link_to_remove_association "Remove", f, class: "remove-prereq-group"
  .collapsible-body
    = f.fields_for :prerequisites, @prerequisites do |builder|
      .set-courses-container
        = render "prerequisite_fields", f: builder

    .layout.horizontal.center-justified{ style: "padding: 12px 0;" }
      = link_to_add_association "Add Prereq", f, :prerequisites, class: "add-prereq-course"
