.nested-fields.category-set-container.mdl-shadow--4dp
  = link_to_remove_association f, class: "remove-prereq-group" do
    %i.material-icons clear

  %div.layout.vertical.center
    = f.fields_for :prerequisites, @prerequisites do |builder|
      .set-courses-container
        = render "prerequisite_fields", f: builder

    %div
      = link_to_add_association 'add prereq', f, :prerequisites, class: "add-courses mdl-button"
