- content_for :title do
  Editing #{@course.pretty_course}

= render 'form'
= link_to 'remove', @course, data: { method: :delete, confirm: 'Are you sure?' }, style: 'margin-top: 35px;', class: 'layout horizontal center-justified'
