<% content_for :title do %>
    Choose a Course to Remove
<% end %>

<div layout horizontal center-justified id="remove_course_div">
    <paper-shadow id="remove_course_shadow_div">
        <% @courses.each do |course| %>
            <paper-item>
                <%= link_to course.subject + '' +course.course.to_s + ': ' + course.title, course, method: :delete, data: { confirm: 'Are you sure you want to remove "' + course.title + '"?' }, style: "text-decoration:none;color:rgba(0, 0, 0, 0.87);;" %>
            </paper-item>
        <% end %>
    </paper-shadow>
</div>

<script>
    $("#drawer_core_menu")[0].selected = 2;
</script>