- content_for :title do
  Courses - 

%h3.mdl-display-2.header
  Courses

.layout.vertical.center
  %ul.collapsible.popout{ data: { collapsible: :accordion } }
    - @courses.each do |course_code, courses|
      %li
        .collapsible-header
          = course_code
        .collapsible-body
          %ul.mdl-list
            - courses.each do |course|
              %li.mdl-list__item
                %span.mdl-list__item-primary-content.layout.horizontal.center-justified.center-text
                  = link_to course.pretty_course, edit_course_path(course)

= new_fab new_course_path
