- content_for :title do
  New Course

= render 'form'

-#     %br/
-# .layout.center-justified.horizontal{:style => "color:#4CAF50;"}
-#   %paper-button#add-or-group ADD an 'or' group
-# #prereq_min_grades{:style => "width:100%;"}
-# = text_field_tag :prereq_grades, nil, hidden: ""
-# = select_tag(:minimum_grades, options_for_select(['N/A','C', 'C-']), class: 'copy-min-grades', hidden: "" )

  .layout.horizontal.end-justified{:style => "color:#2196F3;"}
    %paper-button#cancel_new_course Cancel
    %paper-button#create-course Create Course
