.layout.horizontal.start-justified.center.nested-fields
  = f.collection_select :course_id,
    @courses,
    :id,
    :pretty_course,
    label: "Choose a Course"
  .flex
  = link_to_remove_association 'remove', f, class: 'remove-course-association'
