<paper-item style="height:72px;">
    <paper-item-body two-line class="layout vertical" style="width:100%;">
    	<div class="layout horizontal" style="width:100%;">
        	<div class="flex"><%= link_to curriculum_category.category, curriculum_category_curriculum_category_sets_path(curriculum_category), id:"cur_cat_link" %></div>
        	<div><%= "Sets are Ored" if curriculum_category.set_and_or_flag %></div>
        </div>
        <div secondary style="font-size: 14px;line-height: 20px;" class="layout horizontal">
            <%= link_to 'Edit', edit_curriculum_category_path(curriculum_category), id: "edit-course-link"  %> &nbsp | &nbsp
            <%= link_to "Delete", curriculum_category, method: :delete, data: { confirm: 'Are you sure you want to remove this category?' }, id:"cur_cat_delete_link" %>
        </div>
    </paper-item-body>

</paper-item>