.nested-fields.category_section.form-course-container.layout.vertical.center
  .layout.horizontal.center.w-100.mb-1
    .category_section_number
    .flex
    = link_to_remove_association "Remove", f,
        class: "mdc-button mdc-button--compact mdc-card__action delete-action"
  .mdc-card.mb-3.p-2.white.container
    = f.multiple_course_select(:course_ids, selected: f.object.course_ids)

    .layout.vertical.center.center-text.mt-2
      How many are of these courses are needed to fulfill this section(leave blank for all):
      = f.number_field :count
