- content_for :title, @category.category
- content_for :back_url, major_curriculum_category_path(@major, @category)

.layout.vertical.center
  = render "form", major: @major, category: @category, category_sets: @category_sets
