- content_for :title do
  Edit #{@category.category.capitalize}
  \-

.layout.vertical.center
  = render "form", category: @category, title: "Edit Category", category_sets: @category_sets

= destroy_fab @category
