- content_for :title do
  Categories

%h3.mdl-display-2.header
  = current_user.major.major + " categories"

.vertical.layout.center
  %ul.collapsible.popout{ data: { collapsible: :accordion } }
    - unless current_user.major.major_categories.empty?
      %li
        .collapsible-header.active
          major
        .collapsible-body
          %ul.mdl-list.layout.vertical.center
            = render current_user.major.major_categories

    - unless current_user.major.minor_categories.empty?
      %li
        .collapsible-header
          minor
        .collapsible-body
          %ul.mdl-list.layout.vertical.center
            = render current_user.major.minor_categories

= new_fab new_curriculum_category_path
