.form-course-container
  width: 450px
  max-width: 95%

.course-fields
  width: 450px
  max-width: 95%
  .mdl-textfield
    width: 450px
    max-width: 100%

.prerequisite_group
  counter-increment: idx

.prerequisite_group_number
  &:before
    content: "prerequisite group " counter(idx)
