#remove_course_shadow_div {
    width:475px;
    background:#FBFBFB;
}
#new_course_shadow_div {
  margin:15px;
  background:#fbfbfb;
  padding:20px 20px;
}



#course_minimum_pt, #course_minimum_class_standing, #course_minimum_sat_score, #course_prerequisites {
  background: transparent;
  border: none;
  border-bottom: 1px solid #757575;
  outline: none;
  width: 100%;
  margin-top: 28px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:16px;
  color: #757575;
  margin-bottom: 8px;
}
#course_minimum_pt:focus, #course_minimum_class_standing:focus, #course_minimum_sat_score:focus, #course_prerequisites:focus, #minimum_grades:focus {
  border-bottom: 2px solid #4CAF50;
}
#course_minimum_pt option, #course_minimum_class_standing option, #course_minimum_sat_score option, #minimum_grades option {
  color: #212121;
}
#course_minimum_pt option:first-child, #course_minimum_class_standing option:first-child, #course_minimum_sat_score option:first-child, #minimum_grades option:first-child {
  color: #757575;
}
.course_prereq_group {
  margin-top: 28px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:16px;
  color: #757575;
}
#minimum_grades {
  background: transparent;
  border: none;
  border-bottom: 1px solid #757575;
  outline: none;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:16px;
  color: #757575;
}
.course-min-grade {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#new-course-fab {
    position:fixed;
    bottom:0;
    right:0;
    margin-right:25px;
    margin-bottom:15px;
    color: #FFFFFF;
    background: #4CAF50;
}
.subject_paginator {
  margin-top: 32px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
#edit-course-link {
  text-decoration: none;
  color: #757575;
  transition: all .2s ease;
}
#delete-course-link {
  color: #757575;
  border:0;
  background:transparent;
  text-align:center;
  outline: none;
  border-radius: 3px;
  cursor:pointer;
  transition: all .2s ease;
}
#paginated_courses_div {
 padding-top:12px;
}
#courseTabs {
  #selectionBar {
    background-color: #757575;
  }
}
#delete-course-link:hover {
  color: #db4437;
}
#edit-course-link:hover {
  color: #4CAF50;
}
