@import colors, layout

.delete-action
  color: $red-500 !important
  &:before
    background-color: rgba(244, 67, 54, 0.12) !important

.mdc-snackbar
  transform: translateY(100%)

.container
  width: 400px
  max-width: 90%

.paginated_letters_container
  width: 500px
  max-width: 90%

.overflow-menu
  .mdc-simple-menu
    z-index: 2
    position: absolute
    top: 0
    right: 0

.new_course, .edit_course
  @extend .layout.vertical
  @extend .layout.center-center
  @extend .mt-3

  .form-container
    width: 450px
    max-width: 90%

.mdc-textfield--multiline
  margin: 0 29px 32px 29px !important





.prerequisite_group
  counter-increment: idx

.prerequisite_group_number
  &:before
    content: "Group #" counter(idx)

.remove-prereq-group
  color: $red-400
  transition: all .35s ease
  &:hover
    color: $red-700

.add-prereq-group
  margin-bottom: 35px
  color: $green-A700

.remove-prereq-course
  color: $orange-400 !important
  transition: all .35s ease !important
  &:hover
    color: $orange-700 !important

.add-prereq-course
  margin-bottom: 35px
  color: $light-blue-A700 !important
