// Place all the styles related to the curriculum_category_courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_course_group_select {
    font-family: 'RobotoDraft', sans-serif;
    width:100%;
    display: block;
    border: none;
    border-radius: 0 !important;
    padding: 0;
    color:rgba(0,0,0,0.87);
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #757575;
    margin-top:10px;
}

#submit_category_class_material {
    width:100%;
}