// Place all the styles related to the curriculum_category_courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_course_set_select {
    font-family: 'RobotoDraft', sans-serif;
    width:100%;
    display: block;
    border: none;
    border-radius: 0 !important;
    padding: 0;
    color:rgba(0,0,0,0.87);
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #757575;
    margin-top:10px;
}

.category_course_set_select:focus {
  border-color: #757575;
  outline: none;
  box-shadow: none;
}

#cc_set_dropdown_error_msg {
    color:#d34336;
    font-size: 0.75em;
    display:none;
    margin-top: -13px;
}
#cc_set_dropdown_course_error {
    width:100%;
}
#cc_set_dropdown_error_icon {
    height:20px;
    width: 20px;
}

.cat_set_edit_remove {
	color: #4a89dc;
	text-decoration: none;
	transition: all .2s ease;
}

.cat_set_edit_remove:hover {
	color: #666;
	text-decoration: underline;
}