@import colors

.app-fab--absolute.app-fab--absolute
  position: fixed
  bottom: 1rem
  right: 1rem
@media(min-width: 1024px)
  .app-fab--absolute.app-fab--absolute
    bottom: 3rem
    right: 5rem

.mdc-fab.new-fab
  background-color: $green-A700 !important
  color: #fff !important
