// Place all the styles related to the Majors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_major_form_shadow {
    width:300px;
    margin:15px;
    background:#fafafa;
    border-radius:3px;
    padding:20px 20px;
}

#new_major_material {
    position:fixed;
    bottom:0;
    right:0;
    margin-right:25px;
    margin-bottom:15px;
    color: #FFF;
    background: #4CAF50;
}

#major_decorator /deep/ .focused-underline {
    /* line color when the input is focused */
    background-color: #4CAF50;
}