@import 'layout';

.major-container {
  margin: 15px;
  @extend .layout.vertical;
  @extend .layout.center;

  .mdl-list {
    background: #fff;
    margin-bottom: 60px;
  }
}

.delete-major {
  color: #F44336 !important;
  padding: 14px 0;
}
