@import layout, colors

.upload-offerings
  color: $grey-900 !important

.new_offering, .edit_offering
  @extend .layout.vertical
  @extend .layout.center-center
  max-width: 90%
  width: 450px
  .input-field
    width: 100%
    max-width: 450px
  .mdl-textfield
    width: 450px
  .create
    color: $green-A700
  .update
    color: $light-blue-A700

.offerings-simple-menu
  z-index: 2
  position: absolute
  top: 0
  right: 0
