@import layout, colors

.new_offering, .edit_offering
  @extend .layout.vertical
  @extend .layout.center-center
  max-width: 90%
  width: 450px
  .input-field
    width: 100%
    max-width: 450px
  .mdl-textfield
    width: 450px
  .create
    color: $green-A700
  .update
    color: $light-blue-A700

#upload-offerings-dialog
  width: 400px
  max-width: 90%

.offering-index
  margin-bottom: 75px
  p
    text-align: center
    width: 400px
    max-width: 90%
