pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
paper-header-panel {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}


hr {
  border: 0;
  height: 0;
  width: 300px;
  position:absolute;
  left:0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #B6B6B6;
}

core-header-panel {
  background: white;
}
#mainheader {
  background-color: #2196F3;
  color: #FFFFFF;
  height:192px;
}
select {
  -moz-appearance: none;
  text-overflow: '';
}

.title_div {
  font-size:30px;
  line-height:1;
  width:100%;
}


@media only screen and (max-width: 500px) {
  .title_div {
    font-size: 21px;
  }
}

#drawer-menu iron-icon {
  margin-right:16px;
}
#drawer-menu a {
  text-decoration: none;
  color: #212121;
}
#logout-button {
  display: inline-block;
  position: relative;
  border: 0;
  background: transparent;
  text-align: center;
  font: inherit;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  padding: 2px;
  color: #212121;
}





.mdl-button--fab {
  position:fixed !important ;
  bottom:0;
  right:0;
  margin-right:20px !important;
  margin-bottom:15px !important;

  a {
    color: #fff;
  }
}
