body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
hr {
  border: 0;
  height: 0;
  width: 300px;
  position:absolute;
  left:0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #B6B6B6;
}

.center-text {
  text-align: center;
}



.mdl-button--fab {
  position:fixed !important ;
  bottom:0;
  right:0;
  margin-right:20px !important;
  margin-bottom:15px !important;

  a {
    color: #fff;
  }
}
