.incomplete-card {
  .no-courses-offered {
    color:#EF5350;
    text-align:center;
    font-size: 15px;
    font-weight: 400;
  }
  .input-field {
    width:auto;
    max-width: none;

    label {
      color: #212121;
      top: -7px;
      left: 0;

      &:before {
        top: -3px;
      }
    }
  }
}
.complete-card {
  .category-completed {
    color:#4CAF50;
    text-align:center;
    font-size: 15px;
    font-weight: 400;
    cursor:initial;
  }
  .course-li {
    font-size: 15px;
    font-weight: 400;
    cursor:initial;
  }
}
.category-card-header {
  cursor: default;
}















#upload-transcript-header {
  font-weight: bold;
}
.category-items {
    width:400px;
    margin:15px;
    background:#fff;
    padding:20px 20px;
}
.inactive {
    color: #bdbdbd;
}
.calendar {
  margin:15px;
  border-collapse:separate !important;
  border-spacing: 11px 3px !important;
  border:none;
}





.day_time_slot {
    text-align: center;
    background-color:#efefef;
    height: 26px;
}
.time_slot {
    text-align: center;
    height: 26px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.selected_class {
    background-color: #4CAF50;
    color: #EAF6EB;
    font-weight: bold;
    cursor: text;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.half_time_slot {
    background: linear-gradient(to bottom, #4CAF50 0%,#4CAF50 50%,#efefef 51%,#efefef 100%);
    cursor:text;
}

.remaining_credits_tr {
    text-align:center;
    padding-bottom:15px;
}
.new_schedule_tr {
    height:48px;
}
.new_schedule_check_td {
    padding-right: 15px;
}
.new_schedule_course_td {
    padding-right:10px;
    width:150px;
}
.new_schedule_days_td {
    text-align: center;
}

#classes_shadow_schedule {
    width:558px;
}

@media screen and (max-width: 750px) {
    #classes_shadow_schedule {
        width:367px;
    }
    .remaining_credits_tr {
        text-align:center;
        padding-bottom:10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .new_schedule_tr {
        height:30px;
    }
    .new_schedule_check_td {
        padding-right: 15px;
        padding-top:18px;
    }
    .new_schedule_course_td {
        padding-top:15px;
        font-weight: 300;
        font-size:12px;
    }
    .new_schedule_days_td {
        text-align: center;
        font-weight: 300;
        font-size:12px;
        padding-top:15px;
    }
    .common_credit_td, .common_course_td, .common_grade_td, .no_courses_offered_msg {
        font-weight: 300;
        font-size:12px;
    }
    .taken_courses_tr > td, .not_offered_courses > td {
        font-weight: 300;
        font-size:12px;
    }
}

.next_day, .prev_day {
    background: #fafafa;
    text-align:center;
}
