.mdc-select
  padding-left: 8px !important
  background-position: calc(100% - 16px) center !important
  width: 360px !important

  .mdc-simple-menu--open
    z-index: 2

.nested-fields.prerequisite_group
  .mdc-select
    max-width: 82%
