@import 'layout';

.devise-container {
  height: 100%;
  @extend .layout.vertical;
  @extend .layout.center-center;

  img {
    height: 200px;
  }

  .mdl-checkbox {
    width: 142px;
  }

  .mdl-button {
    margin-top: 25px;
  }
}

#forgot_password {
  margin-top: 20px;
}
#sign_up {
  margin-top: 50px;
}
