@import layout

.devise-container
  @extend .layout.vertical
  @extend .layout.center
  margin: 30px 0
  img
    height: 200px
  .mdl-checkbox
    width: 142px
  .mdl-button
    margin-top: 25px

.forgot_password_dialog h5
  margin-top: 24px

#forgot_password
  margin-top: 20px

#sign_up
  margin-top: 50px
#new_user
  .materialize-checkbox
    margin-top: 0
    @extend .layout.horizontal
    @extend .layout.center-justified
