@import layout

.devise-container
  @extend .layout.vertical
  @extend .layout.center
  margin: 30px 0
  img
    height: 200px

  #new_user
    .mdc-select
      width: 135px !important
      margin-top: 16px
      margin-bottom: 8px
