@import colors

body
  font-family: Roboto, sans-serif
  background-color: $grey-50
  color: $grey-800
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale

hr
  border: 0
  height: 0
  width: 300px
  position: absolute
  left: 0
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  border-bottom: 1px solid #B6B6B6

a
  text-decoration: none !important
