@font-face
  font-family: 'Avenir'
  src: url("/assets/AvenirLTStd-Book.otf") format("otf")
  font-weight: normal
  font-style: normal
  -webkit-font-smoothing: antialiased


body
  font-family: 'Avenir' !important
  letter-spacing: 1.5px !important
  background-color: #f4f4f4
  color: #333

main
  height: 100%
  .page-content
    height: 100%

hr
  border: 0
  height: 0
  width: 300px
  position: absolute
  left: 0
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  border-bottom: 1px solid #B6B6B6

.center-text
  text-align: center

#avatar
  position: absolute
  top: 0
  right: 0

.mdl-list__item, h3, h5, .mdl-textfield__input, .mdl-button
  font-family: 'Avenir' !important
  letter-spacing: 1px !important

.mdl-button
  text-transform: lowercase !important

.mdl-button--fab
  position: fixed !important
  bottom: 0
  right: 0
  margin-right: 20px !important
  margin-bottom: 15px !important
  a
    color: #fff

*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-tap-highlight-color: transparent

.bold
  font-weight: bold !important

.pointer
  cursor: pointer !important

a
  text-decoration: none !important

.header
  padding-top: 75px
  padding-bottom: 24px
  margin: 0
  text-align: center
  text-transform: lowercase
  letter-spacing: 2px !important
  font-weight: 400

.mdl-textfield__label
  text-transform: lowercase

.mdl-layout-title, .mdl-layout__title
  font-family: 'Avenir' !important
  letter-spacing: 1.5px !important

#drawer
  background-color: #fff

.mdl-navigation__link
  font-size: 20px !important
  font-weight: 300 !important
  line-height: 24px !important
  letter-spacing: 1.75px !important
  text-transform: lowercase
  i
    font-size: 30px
    padding-right: 11px

.getmdl-select .mdl-icon-toggle__label
  float: right
  margin-top: -30px
  color: gray

.getmdl-select.is-focused i.mdl-icon-toggle__label
  color: rgb(96, 125, 139)

.getmdl-select
  width: 300px
  .mdl-menu
    width: 300px
    height: 200px !important
    overflow-y: scroll

.mdl-button--fab.red
  background-color: #E53935 !important
  color: #fff !important
