// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_major_id {
  background: transparent;
  border: none;
  border-bottom: 1px solid #757575;  
  outline: none;
  width: 100%;
  margin-top: 28px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:16px;
  color: #757575;
  margin-bottom: 8px;
}
#user_major_id:focus { 
  border-bottom: 2px solid #4CAF50;  
}
#user_major_id option { 
  color: #212121;  
}
#user_major_id option:first-child { 
  color: #757575;  
}

#user_advised_by {
  background: transparent;
  border: none;
  border-bottom: 1px solid #757575;  
  outline: none;
  width: 100%;
  margin-top: 28px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:16px;
  color: #757575;
}
#user_advised_by:focus { 
  border-bottom: 2px solid #4CAF50;  
}
#user_advised_by option { 
  color: #212121;  
}
#user_advised_by option:first-child { 
  color: #757575;  
}

#major_signup_dropdown_error_msg {
  color:#db4437;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  display:none;
  margin-top: -8px;
}
#advisor_signup_dropdown_error_msg {
  color:#db4437;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  display:none;
}

#advisor_label {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:16px;
  color: #757575; 
}

.dropdown-error {
  border-bottom: 2px solid #db4437 !important;
}

.user-index-column {
  width: 25em;
  background: #FBFBFB;
  padding-top:12px;
}
#submit_signup {
  display: inline-block;
  position: relative;
  border: 0;
  background: transparent;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  color:#03A9F4;
}
#signup_dropdown_advisor_error {
  width:100%;
}

#user_minor {
  font-family: 'RobotoDraft', sans-serif;
  width:100%;
  display: block;
  border: none;
  border-radius: 0 !important;
  padding: 0;
  color:rgba(0,0,0,0.87);
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #757575;
  margin-top:10px;
}

#user_minor:focus {
  border-color: #757575;
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid #03A9F4;
}

#advisee_signup_fab {
  position:fixed;
  bottom:0;
  right:0;
  margin-right:25px;
  margin-bottom:15px;
  color: #FFF;
  background: #4CAF50;
}