@import 'layout';

.advisee-row {
  background: #FFEBEE;

  &:hover {
    background: #eee;
  }
}

#advisor_label {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:16px;
  color: #757575;
}

.user-index-column {
  width: 25em;
  background: #FBFBFB;
  padding-top:12px;
}
