@import colors

.student-schedule-link
  color: $green-400 !important
.student-no-courses-link
  color: $red-400 !important
.student-pending-link
  color: $purple-A700 !important

.semester-toggle
  width: 100px !important
  border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important

  &:focus
    background-color: rgba(255, 255, 255, .06) !important
  .mdc-select__selected-text
    color: #fff
  a
    text-decoration: none
    color: rgba(0,0,0,.54)
