@import layout

.advisee-row
  background: #FFEBEE
  &:hover
    background: #eee

.user-index-column
  width: 25em
  background: #FBFBFB
  padding-top: 12px

.users-index
  .collapsible-header
    cursor: default
    .student-schedule-link
      padding-right: 24px
      color: #66BB6A
      cursor: pointer
