.selected_work_day_time_slot {

}
.day_time_slot {
  a {
    background-color: #F44336;
    display: block;
    width: 100%;
    height: 100%;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    &:hover {
      background-color: #E53935;
    }
  }
  .mdl-button {
    padding: 0;
    width: 100%;
    height: 26px;
  }
}
