.category-set-container.mdl-shadow--4dp
  %div.layout.vertical.center.center-text
    %h6.mdl-title
      = curriculum_category_set.count
      of the following courses need to be completed to complete this collection
    %ul.mdl-list
      - curriculum_category_set.courses.each do |course|
        %li.mdl-list__item.layout.horizontal.center-justified
          = course.pretty_course
