<% content_for :title do %>
    Courses in Set
<% end %>

<div class="layout horizontal center-justified" id="remove_course_div">
    <paper-material id="remove_course_shadow_div">
        <div id="paginated_courses_div">
            <%= render @curriculum_category_set.course_set %>
        </div>
    </paper-material>
</div>

<div id="course-sets-notice">
  <% if notice %>
    <paper-toast id="course-sets-notice-toast" text="<%= notice %>" style="z-index: 13;" class="fit-bottom layout horizontal center-center"></paper-toast>
  <% end %>
</div>

<paper-fab icon="add" title="Add Course to Set" id="new-course-set-fab"></paper-fab>
