= form_tag link, method: :get do
  .mdl-textfield.mdl-js-textfield
    = text_field_tag :search, params[:search], class: "mdl-textfield__input", autofocus: true
    %label.mdl-textfield__label Search
